@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<nav style="display: flex;">
    <a style="flex-grow:1; text-align:center;" href="/About">About</a>
    <a style="flex-grow:1; text-align:center;" href="/Menu">Menu</a>
    <a style="flex-grow:1;text-align:center;" href="/Privacy">Privacy</a>
</nav>

<h1>Menu</h1>

<h2>Combos</h2>
@foreach (DinoDiner.Menu.CretaceousCombo combo in Model.Menu.AvailableCombos)
{
    <div class="menu-item">
        <p>Name: @combo</p>
        <p>Price: @combo.Price</p>
        <p>Calories: @combo.Calories</p>
        <p>Ingredients:</p>
        @foreach (String item in combo.Ingredients)
        {
            <div class="ingredients">
                <p>@item</p>
            </div>
        }
    </div>
}

<h2>Entrees</h2>
@foreach (DinoDiner.Menu.Entree entree in Model.Menu.AvailableEntrees)
{
    <div class="menu-item">
        <p>Name: @entree</p>
        <p>Price: @entree.Price</p>
        <p>Calories: @entree.Calories</p>
        <p>Ingredients:</p>
        @foreach (String item in entree.Ingredients)
        {
            <div class="ingredients">
                <p>@item</p>
            </div>
        }
    </div>

}

<h2>Sides</h2>
@foreach (DinoDiner.Menu.Side side in Model.Menu.AvailableSides)
{
    <div class="menu-item">
        <p>Name: @side.Description</p>
        <p>Price: @side.Price</p>
        <p>Calories: @side.Calories</p>
        <p>Ingredients:</p>
        @foreach (String item in side.Ingredients)
        {
            <div class="ingredients">
                <p>@item</p>
            </div>
        }
     </div>
}

<h2>Drinks</h2>
@foreach (DinoDiner.Menu.Drink drink in Model.Menu.AvailableDrinks)
{
    <div class="menu-item">
        <p>Name: @drink.Description</p>
        <p>Price: @drink.Price</p>
        <p>Calories: @drink.Calories</p>
        <p>Ingredients:</p>
        @foreach (String item in drink.Ingredients)
        {
            <div class="ingredients">
                <p>@item</p>
            </div>
        }
    </div>
}